.tabContent {
    padding: 20px;
}

.modal-dialog{
    overflow-y: initial !important;
    height:80%;
    
}

#tblProductoLista {
        width: 100%;
    }

#tblProductoLista thead,#tblProductoLista tbody,#tblProductoLista tbody tr,#tblProductoLista tbody tr td,#tblProductoLista tbody tr th { 
    display: block; 

}

#tblProductoLista tbody tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#tblProductoLista thead th {
    height: 30px;

}

#tblProductoLista tbody {
    height: 240px;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom:5px;
}


#tblProductoLista tbody td, thead th {
    width: 20%;
    float: left;
}
.lista-productos {

height:300px;
}