USE [Inmobiliaria]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[cli_rut] [nvarchar](11) NOT NULL,
	[cli_nombre] [nvarchar](100) NOT NULL,
	[cli_giro] [nvarchar](25) NULL,
	[cli_email] [nvarchar](50) NULL,
	[cli_telefono] [int] NULL,
	[cli_calle] [nvarchar](100) NULL,
	[cli_numero] [int] NULL,
	[cli_departamento] [nvarchar](25) NULL,
	[cli_est_id] [char](1) NULL,
	[cli_com_id] [nvarchar](5) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[cli_rut] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CLIENTE] ([cli_rut], [cli_nombre], [cli_giro], [cli_email], [cli_telefono], [cli_calle], [cli_numero], [cli_departamento], [cli_est_id], [cli_com_id]) VALUES (N'16514103-2', N'ROBERTO BRIONES', N'PARTICULAR', N'ROBERTO_BRIONES@LIVE.COM', 952074574, N'UNION', 210, N'406C', N'A', N'13127')
INSERT [dbo].[CLIENTE] ([cli_rut], [cli_nombre], [cli_giro], [cli_email], [cli_telefono], [cli_calle], [cli_numero], [cli_departamento], [cli_est_id], [cli_com_id]) VALUES (N'17574446-0', N'RUTH GUTIERREZ', N'PARTICULAR', N'RUTHGUTIERREZ1307@GMAIL.COM', 967861123, N'union', 210, N'406C', N'A', N'13127')
/****** Object:  Table [dbo].[BANCO]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANCO](
	[ban_id] [int] IDENTITY(1,1) NOT NULL,
	[ban_descripcion] [nvarchar](100) NULL,
	[ban_est_id] [char](1) NULL,
 CONSTRAINT [PK_BANCO] PRIMARY KEY CLUSTERED 
(
	[ban_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMUNA]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMUNA](
	[com_id] [nchar](5) NOT NULL,
	[com_descripcion] [nvarchar](30) NOT NULL,
	[com_reg_id] [nchar](2) NOT NULL,
	[com_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_COMUNA] PRIMARY KEY CLUSTERED 
(
	[com_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[COMUNA] ([com_id], [com_descripcion], [com_reg_id], [com_est_id]) VALUES (N'10101', N'Puerto Montt', N'10', N'A')
INSERT [dbo].[COMUNA] ([com_id], [com_descripcion], [com_reg_id], [com_est_id]) VALUES (N'10102', N'Calbuco', N'10', N'A')
INSERT [dbo].[COMUNA] ([com_id], [com_descripcion], [com_reg_id], [com_est_id]) VALUES (N'10103', N'Cochamó', N'10', N'A')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[pro_id] [nvarchar](50) NOT NULL,
	[pro_descripcion] [nvarchar](100) NOT NULL,
	[pro_precio] [int] NOT NULL,
	[pro_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PRODUCTO] ([pro_id], [pro_descripcion], [pro_precio], [pro_est_id]) VALUES (N'10000', N'SILLON CENTRO', 200000, N'E')
INSERT [dbo].[PRODUCTO] ([pro_id], [pro_descripcion], [pro_precio], [pro_est_id]) VALUES (N'20000', N'SILLON SUPERIOR', 100000, N'A')
/****** Object:  Table [dbo].[PRIVILEGIO]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRIVILEGIO](
	[pri_formulario] [nvarchar](50) NOT NULL,
	[pri_lectura] [char](1) NOT NULL,
	[pri_escritura] [char](1) NOT NULL,
	[pri_usu_correo] [nvarchar](50) NOT NULL,
	[pri_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_PRIVILEGIO] PRIMARY KEY CLUSTERED 
(
	[pri_formulario] ASC,
	[pri_usu_correo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAGO_TRANFERENCIA]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGO_TRANFERENCIA](
	[ptr_id] [int] IDENTITY(1,1) NOT NULL,
	[ptr_vca_id] [int] NOT NULL,
	[ptr_fecha_docto] [datetime] NOT NULL,
	[ptr_importe] [numeric](19, 6) NOT NULL,
	[ptr_ban_id] [int] NOT NULL,
	[ptr_numero_tran] [numeric](18, 0) NOT NULL,
	[ptr_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_PAGO_TRANFERENCIA] PRIMARY KEY CLUSTERED 
(
	[ptr_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAGO_TARJETA_DEBITO]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGO_TARJETA_DEBITO](
	[tcr_id] [int] IDENTITY(1,1) NOT NULL,
	[tcr_vca_id] [int] NOT NULL,
	[tcr_fecha_docto] [datetime] NOT NULL,
	[tcr_importe] [numeric](19, 6) NOT NULL,
	[tcr_numero_tran] [numeric](18, 0) NOT NULL,
	[tcr_ban_id] [int] NOT NULL,
	[tcr_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_PAGO_TARJETA_DEBITO] PRIMARY KEY CLUSTERED 
(
	[tcr_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAGO_TARJETA_CREDITO]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGO_TARJETA_CREDITO](
	[tcr_id] [int] IDENTITY(1,1) NOT NULL,
	[tcr_vca_id] [int] NOT NULL,
	[tcr_fecha_docto] [datetime] NOT NULL,
	[tcr_numero_cuota] [int] NOT NULL,
	[tcr_importe] [numeric](19, 6) NOT NULL,
	[tcr_numero_tran] [numeric](18, 0) NOT NULL,
	[tcr_ban_id] [int] NOT NULL,
	[tcr_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_PAGO_TARJETA_CREDITO] PRIMARY KEY CLUSTERED 
(
	[tcr_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAGO_EFECTIVO]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGO_EFECTIVO](
	[pef_id] [int] IDENTITY(1,1) NOT NULL,
	[pef_vca_id] [int] NULL,
	[pef_fecha_docto] [datetime] NULL,
	[pef_importe] [numeric](19, 6) NULL,
	[pef_est_id] [char](1) NULL,
 CONSTRAINT [PK_PAGO_EFECTIVO] PRIMARY KEY CLUSTERED 
(
	[pef_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAGO_CREDITO_SIMPLE]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGO_CREDITO_SIMPLE](
	[pcs_id] [int] IDENTITY(1,1) NOT NULL,
	[pcs_vca_id] [int] NOT NULL,
	[pcs_fecha_docto] [datetime] NOT NULL,
	[pcs_numero_cuota] [int] NOT NULL,
	[pcs_importe] [numeric](19, 6) NOT NULL,
	[pcs_cuota_pagada] [int] NOT NULL,
	[pcs_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_PAGO_CREDITO_SIMPLE] PRIMARY KEY CLUSTERED 
(
	[pcs_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAGO_CHEQUE]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGO_CHEQUE](
	[pch_id] [int] IDENTITY(1,1) NOT NULL,
	[pch_vca_id] [int] NOT NULL,
	[pch_fecha_docto] [datetime] NOT NULL,
	[pch_importe] [numeric](19, 6) NOT NULL,
	[pch_ban_id] [int] NOT NULL,
	[pch_numero_docto] [numeric](18, 0) NOT NULL,
	[pch_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_PAGO_CHEQUE] PRIMARY KEY CLUSTERED 
(
	[pch_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADO](
	[est_id] [char](1) NOT NULL,
	[est_descripcion] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[est_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[emp_rut] [nchar](11) NOT NULL,
	[emp_nombre] [nvarchar](100) NOT NULL,
	[emp_telefono] [int] NULL,
	[emp_est_id] [char](1) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clase] [nvarchar](50) NOT NULL,
	[metodo] [nvarchar](50) NOT NULL,
	[error] [text] NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_LOG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOG] ON
SET IDENTITY_INSERT [dbo].[LOG] OFF
/****** Object:  Table [dbo].[REGION]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGION](
	[reg_id] [nchar](2) NOT NULL,
	[reg_descripcion] [nvarchar](50) NOT NULL,
	[reg_orden] [nchar](2) NOT NULL,
	[reg_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_REGION] PRIMARY KEY CLUSTERED 
(
	[reg_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[REGION] ([reg_id], [reg_descripcion], [reg_orden], [reg_est_id]) VALUES (N'1 ', N'Tarapacá', N'1 ', N'A')
INSERT [dbo].[REGION] ([reg_id], [reg_descripcion], [reg_orden], [reg_est_id]) VALUES (N'10', N'Los Lagos', N'10', N'A')
INSERT [dbo].[REGION] ([reg_id], [reg_descripcion], [reg_orden], [reg_est_id]) VALUES (N'11', N'Aisén C. Ibañez del Campo', N'11', N'A')
/****** Object:  Table [dbo].[VENTA_DETALLE]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENTA_DETALLE](
	[vde_id] [int] IDENTITY(1,1) NOT NULL,
	[vde_vca_id] [int] NOT NULL,
	[vde_pro_id] [nvarchar](50) NOT NULL,
	[vde_cantidad] [int] NOT NULL,
	[vde_total] [numeric](19, 6) NOT NULL,
	[vde_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_VENTA_DETALLE] PRIMARY KEY CLUSTERED 
(
	[vde_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA_CABECERA]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENTA_CABECERA](
	[vca_id] [int] IDENTITY(1,1) NOT NULL,
	[vca_folio] [int] NULL,
	[vca_cli_rut] [nchar](11) NOT NULL,
	[vca_fecha_docto] [datetime] NOT NULL,
	[vca_suc_id] [int] NOT NULL,
	[vca_comentario] [text] NULL,
	[vca_tipo_docto] [nchar](10) NOT NULL,
	[vca_impuesto] [numeric](19, 6) NOT NULL,
	[vca_total] [numeric](19, 6) NOT NULL,
	[vca_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_VENTA_CABECERA] PRIMARY KEY CLUSTERED 
(
	[vca_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[usu_correo] [nvarchar](50) NOT NULL,
	[usu_contrasena] [nvarchar](25) NOT NULL,
	[usu_emp_rut] [nchar](11) NOT NULL,
	[usu_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[usu_correo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 12/21/2017 17:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[suc_id] [int] IDENTITY(1,1) NOT NULL,
	[suc_descripcion] [nvarchar](50) NOT NULL,
	[suc_direccion] [nvarchar](50) NOT NULL,
	[suc_est_id] [char](1) NOT NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[suc_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[Region_GetAll]    Script Date: 12/21/2017 17:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Region_GetAll]
as
begin
select t0.reg_id
      ,t0.reg_descripcion
      ,t0.reg_orden
      ,t0.reg_est_id
      
from REGION t0
where t0.reg_est_id = 'A'
order by convert(int,t0.reg_orden)
end
GO
/****** Object:  StoredProcedure [dbo].[Producto_Insert]    Script Date: 12/21/2017 17:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Producto_Insert](@pro_id as nvarchar(50),
                                    @pro_descripcion as nvarchar(100),
                                    @pro_precio as numeric(19,6),
                                    @pro_est_id as char(1) )
AS
BEGIN

	IF exists(select pro_descripcion from PRODUCTO t0 with(nolock) where t0.pro_id = @pro_id)
	BEGIN
		update PRODUCTO
		set pro_id = @pro_id,
		    pro_descripcion = @pro_descripcion,
		    pro_precio = @pro_precio,
		    pro_est_id = @pro_est_id
		    
		where pro_id = @pro_id
		 
	END
	
	ELSE
	BEGIN
		insert into PRODUCTO (pro_id,pro_descripcion,pro_precio,pro_est_id)
		       values (@pro_id,@pro_descripcion,@pro_precio,@pro_est_id)
		
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Producto_GetById]    Script Date: 12/21/2017 17:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Producto_GetById](@id as nvarchar(50))
as
begin
select t0.pro_id
      ,t0.pro_descripcion
      ,t0.pro_precio
      ,t0.pro_est_id
from PRODUCTO t0
where t0.pro_id = @id

end
GO
/****** Object:  StoredProcedure [dbo].[LoadPerfilByUser]    Script Date: 12/21/2017 17:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[LoadPerfilByUser](@email nvarchar(50),
                                         @contrasena nvarchar(25))
as
begin
if exists(select m0.usu_emp_rut from USUARIO m0 where m0.usu_correo = @email 
                                               and m0.usu_contrasena = @contrasena 
                                               and m0.usu_est_id = 'A')
	begin
		select t1.pri_formulario 'formulario',
			   t1.pri_lectura 'lectura',
			   t1.pri_escritura 'escritura'
		from usuario t0  
		inner join PRIVILEGIO t1 
				  on t0.usu_correo = t1.pri_usu_correo 
		where t1.pri_est_id = 'A'
		and t1.pri_usu_correo = @email
	end

end
GO
/****** Object:  StoredProcedure [dbo].[Comuna_GetAll]    Script Date: 12/21/2017 17:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Comuna_GetAll]
as
begin
select t0.com_id
      ,t0.com_descripcion
      ,t0.com_reg_id
      ,t0.com_est_id
      
from COMUNA t0
where t0.com_est_id = 'A'
end
GO
/****** Object:  StoredProcedure [dbo].[Log_Insert]    Script Date: 12/21/2017 17:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Log_Insert] (@clase as nvarchar(50),
                                @metodo as nvarchar(50),
                                @error as text,
                                @fecha as datetime)
as
begin

insert into [LOG] (clase,metodo,ERROR,fecha) values (@clase,@metodo,@error,@fecha)

end
GO
/****** Object:  StoredProcedure [dbo].[Cliente_Insert]    Script Date: 12/21/2017 17:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Cliente_Insert](@cli_rut as nvarchar(11),
                                    @cli_nombre as nvarchar(100),
                                    @cli_giro as nvarchar(25),
                                    @cli_email as nvarchar(50),
                                    @cli_telefono as int,
                                    @cli_departamento as nvarchar(25),
                                    @cli_est_id as char(1),
                                    @cli_calle as nvarchar(100),
                                    @cli_numero as int,
                                    @cli_com_id as nvarchar(5))
AS
BEGIN

	IF exists(select cli_nombre from CLIENTE t0 with(nolock) where t0.cli_rut = @cli_rut)
	BEGIN
		update CLIENTE
		set cli_nombre = @cli_nombre,
		    cli_giro = @cli_giro,
		    cli_email = @cli_email,
		    cli_telefono = @cli_telefono,
		    cli_calle = @cli_calle,
		    cli_numero = @cli_numero,
		    cli_departamento = @cli_departamento,
		    cli_est_id = @cli_est_id,
		    cli_com_id = @cli_com_id
		    
		where cli_rut = @cli_rut
		 
	END
	
	ELSE
	BEGIN
		insert into CLIENTE (cli_rut,cli_nombre,cli_giro,cli_email,cli_telefono,cli_calle,cli_numero
		                    ,cli_departamento,cli_est_id,cli_com_id)
		       values (@cli_rut,@cli_nombre,@cli_giro,@cli_email,@cli_telefono,@cli_calle,@cli_numero, 
		               @cli_departamento,@cli_est_id,@cli_com_id)
		
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Cliente_GetByRut]    Script Date: 12/21/2017 17:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Cliente_GetByRut](@rut as nvarchar(12))
as
begin
select t0.cli_rut
      ,t0.cli_nombre
      ,t0.cli_email
      ,t0.cli_giro
      ,t0.cli_telefono
      ,t0.cli_est_id
      ,t0.cli_com_id
      ,t2.reg_id
      ,t0.cli_calle
      ,t0.cli_numero
      ,t0.cli_departamento
from CLIENTE t0
inner join COMUNA t1 on t0.cli_com_id = t1.com_id
inner join REGION t2 on t1.com_reg_id = t2.reg_id
where cli_rut = @rut

end
GO
